<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>

    <main class="main-content">
      <form method="post" action="/new" class="form-container">
        <div class="form-group">
          <label for="messageUser">Name</label>
          <input type="text" id="messageUser" name="messageUser" required />
        </div>
        <div class="form-group">
          <label for="messageText">Message</label>
          <input type="text" id="messageText" name="messageText" required />
        </div>
        <button type="submit" class="btn-submit">Submit</button>
      </form>
    </main>
    <%- include('footer') %>
  </body>
</html>
