<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="/">Mini Message Board</a>
    </div>

    <div class="navbar-links">
      <a href="/">Home</a>
      <a href="/new">New Message</a>
    </div>
  </div>
</nav>
