<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo on the left side -->
    <div class="navbar-logo">
      <a href="/">Mini Message Board</a>
    </div>

    <!-- Navigation links on the right side -->
    <div class="navbar-links">
      <a href="/">Home</a>
      <a href="/new">New Message</a>
    </div>
  </div>
</nav>
